[submodule "context-mtsafe"]
	path = ubpf_vm
	url = https://github.com/pluginized-protocols/xbgp_ubpf_vm.git
	branch = master
[submodule "memalloc"]
	path = memalloc
	url = https://github.com/p-quic/michelfralloc.git
[submodule "xbgp_deps"]
	path = xbgp_deps
	url = https://github.com/pluginized-protocols/xbgp_plugins.git
	branch = master
[submodule "tommyds"]
	path = tommyds
	url = https://github.com/amadvance/tommyds.git
	branch = master
